<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Codificación de Caracteres -->
        <meta charset="UTF-8">

        <!-- Configuración inicial de ancho y escala -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Título de la página -->
        <title>Inicio</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        
        <!-- Hoja de estilo -->
		<link rel="stylesheet" th:href="@{/css/estilo.css}">
        <!--<link rel="stylesheet" th:href="@{/res/css/estilo.css}">-->
    </head>
    <body>
        <div class="container">        
            <!-- Fragmento de la barra de navegación -->
			<div th:replace="~{navbar :: navbar}"></div>

            
            <h1 th:text="${mensaje}">Mensaje de ejemplo</h1>
            <p>Probando la conexión a BD H2 con Hibernate</p>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
